[core]
  # todo: this should probably be configured when you install
  editor = 'C:/Program Files/Sublime Text 3/subl.exe' -n -w
  whitespace = cr-at-eol
  excludesfile = ~/.gitignore_global

[color "status"]
  added = green
  changed = cyan bold
  untracked = red bold

[push]
  default = upstream

[color "branch"]
  remote = yellow
